@import "tailwindcss";

/* fallback styles */
body {
  background-color: white;
  color: black;
}

@keyframes tickerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-wrapper {
  overflow: hidden;
  width: 100%;
}

.ticker-content {
  display: flex;
  width: max-content;
  animation: tickerScroll 20s linear infinite;
}

.ticker-content:hover {
  animation-play-state: paused;
}

@keyframes partnersScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partners-wrapper {
  overflow: hidden;
  width: 100%;
}

.partners-track {
  display: flex;
  width: max-content;
  animation: partnersScroll 20s linear infinite;
}

/* Pause on hover */
.partners-track:hover {
  animation-play-state: paused;
}